/*.container { display: none; margin-bottom: 20px; }
.container.angular_loaded { display: block; }
*/
body:not(.angular_loaded) .show_on_load { display: none; }
.angular_loaded .hide_on_load { display: none; }

#angular_is_loading { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5); color: white; font-size: 70px; text-align: center; padding-top: 200px; box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all 2s; -webkit-transition: all 2s; }
body.angular_loaded #angular_is_loading { top: 3000px; bottom: -3000px; }

#upload_wrapper { text-align: center;}
#upload_wrapper #drop_text { font-size: 60px; padding-top: 200px; }

#tool_wrapper { margin-bottom: 40px; }

.table-container { overflow: auto; width: 100%; max-height: 200px; }
.table-container.results { max-height: none; }

h2 span { font-style: italic; font-size: 0.6em; color: #999; padding-left: 10px;}


#button_container { padding: 10px; background-color: rgb(240, 240, 240);; box-shadow: 0 0 10px rgba(0,0,0,.5); }
#button_container h1 { display: inline-block; font-size: 20px; margin: 0; vertical-align: middle; margin-right: 15px;}